body {
  font-family: Arial, sans-serif;
  margin: 20px 5px;
  text-align: center;
}

.banner{
  width: 100%;
  height: 120px;
  margin: 0 auto;
}

.head-line{
  font-size: 20px;
  color: #383093;
}

.result-page {
  display: none;
}

.input-no {
  width: 80%;
  max-width: 250px;
  height: 35px;
  border-radius: 4px;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}

.result-button {
  height: 40px;
  width: 130px;
  color: white;
  font-size: 15px;
  background-color: #c63d5d;
  border: 1px solid black;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  text-align: left;
}

.info .htno, .sname {
  margin: 0;
  font-size: 18px;
  color: #06007a;
}

.info .no, .name {
  color: #8041a9;
}

.dept {
  margin-top: 0;
}

h3 span {
  color: #06007a;
}

.overall-marks {
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
}

.overall-marks table {
  width: 100%;
  border-collapse: collapse;
}

.overall-marks td {
  border: 1px solid black;
  padding: 8px;
  font-weight: bold;
  text-align: center;
}

.header {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.container {
  width: 95%;
  max-width: 800px;
  margin: auto;
  border: 1px solid #000;
  overflow-x: auto;
  position: relative;
}

.container h3 {
  margin: 2px 0 0 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0 0 0;
}

th, td {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #127978;
  color: #fff;
}

.max-marks {
  background-color: #d3d3d3;
}

.status {
  background-color: #c2f9c0;
}

.grade {
  background-color: #cbe6ad;
}




.cie-see-info{
  margin-left: 260px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .container {
    width: 100%;
    overflow-x: auto;
  }
  .banner{
    height: 90px;
  }

  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
  }

  .overall-marks, .container {
    width: 100%;
  }

  table {
    font-size: 14px;
  }

  th, td {
    padding: 6px;
  }
}

@media (max-width: 480px) {
  .input-no {
    width: 90%;
  }

  .banner{
    height: 60px;
  }


  .overall-marks table, .container table {
    font-size: 12px;
  }

  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
  }


}

.cie-see-info {
  margin-left: 0;
  padding: 10px;
  text-align: left;
}
